@charset "UTF-8";
.textContainer {
  background-color: rgba(64, 64, 64, 0.75); /* Opacità 75% */
  padding: 20px; /* spazio intorno al testo */
  border-radius: 10px; /* angoli arrotondati */
  color: #fff; /* Colore testo */
}

.default-text {
  font-size: 14px; /* Ingrandisce leggermente il testo */
  line-height: 1.5; /* Aggiunge spazio tra le righe */
}

.textarea-center {
  text-align: center;
  padding-top: 40px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

/* Classe per lo stile del radio button */
.custom-radio {
  display: inline-block;
  position: relative;
  padding-left: 30px; /* Regola la spaziatura tra il pallino e il testo */
  margin-right: 15px; /* Regola la distanza tra i radio button */
  cursor: pointer;
  line-height: 24px; /* Altezza del radio button */

  /* Nascondi il vero radio button */
  input[type="radio"] {
    display: none;
  }

  /* Stile del pallino esterno */
  .radio-outer-circle {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border: 3px solid #aeff48; /* Colore bordo verde chiaro */
    border-radius: 50%;
  }

  /* Stile del pallino interno */
  .radio-inner-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background-color: #5be05b; /* Colore del pallino verde più scuro */
    border-radius: 50%;
    display: none; /* Nascondi inizialmente il pallino interno */
  }

  /* Stile del pallino interno quando il radio button è selezionato */
  input[type="radio"]:checked + .radio-outer-circle .radio-inner-circle {
    display: block;
  }

  /* Stile del testo accanto al radio button */
  .radio-label {
    font-size: 16px; /* Regola la dimensione del testo */
    color: #333; /* Colore del testo */
  }
}

.presentation {
  /* Imposta l'altezza massima desiderata */
  max-height: 480px;
  overflow: auto; /* Abilita la barra di scorrimento se necessario */
  padding: 20px; /* Aggiunge spazio intorno al testo */
  font-size: 14px; /* Ingrandisce leggermente il testo */
  line-height: 1.5; /* Aggiunge spazio tra le righe */
}

.bg-image {
  position: absolute; /* Posizionamento assoluto per l'immagine di sfondo */
  top: 0;
  left: 0;
  width: 100%; /* Occupa l'intera larghezza del body */
  height: 100%; /* Occupa l'intera altezza del body */
  z-index: -1; /* Posiziona l'immagine di sfondo dietro al contenuto */
  /* Altre proprietà CSS per personalizzare l'aspetto dell'immagine */
}

/* Definizione della classe per il colore specifico */
.continue-btn {
  background-color: #b5dc42;
  border-color: #b5dc42; /* Modifica il colore del bordo se necessario */
  color: #fff; /* Modifica il colore del testo se necessario */
}

/* Opzionale: Stili Hover e Focus per il bottone */
.continue-btn:hover,
.continue-btn:focus {
  background-color: #90b926; /* Cambia il colore al passaggio del mouse o al focus */
  border-color: #90b926; /* Cambia il colore del bordo al passaggio del mouse o al focus */
  color: #fff; /* Cambia il colore del testo al passaggio del mouse o al focus */
}

.btn-primary {
  --mdb-btn-bg: #333333 !important;
  --mdb-btn-hover-bg: #555555 !important;
  --mdb-btn-active-bg: #333333 !important;
  --mdb-btn-focus-bg: #333333 !important;
  --mdb-btn-box-shadow: 0 4px 9px -4px #555555 !important;
  --mdb-btn-disabled-bg: #333333 !important;
}

.btn-secondary {
  --mdb-btn-bg: #555555 !important;
  --mdb-btn-hover-bg: #333333 !important;
  --mdb-btn-active-bg: #555555 !important;
  --mdb-btn-focus-bg: #555555 !important;
  --mdb-btn-box-shadow: 0 4px 9px -4px #333333 !important;
  --mdb-btn-disabled-bg: #555555 !important;
}

/* Altezza barra centrale */
#intro {
  height: 600px;
}

.r6o-widget {
  overflow: auto;
}

/* Colorazione e formattazione caselle di Diff */
pre {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 15px;
  overflow: auto;
}

.string {
  color: green;
}

.number {
  color: darkorange;
}

.boolean {
  color: blue;
}

.null {
  color: magenta;
}

.key {
  color: red;
}

/* Formattazione e schematizzazione Firepad */
#container {
  display: flex;
  flex-direction: row;
}

#userlist {
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  height: auto;
  width: 175px;
}

.firepad-userlist {
  border-radius: 25px;
  padding: 2.5%;
}

.firepad-richtext .CodeMirror {
  border-radius: 25px;
  padding: 2.5%;
}

#firepad {
  position: relative;
  left: 5%;
  top: 0;
  bottom: 0;
  right: 0;
  height: auto;
} /*# sourceMappingURL=styles.css.map */
