<!DOCTYPE html>
<html lang="it">
  <%- include('../common/head.html') %> <%- include('../common/en/modal.html')
  %>

  <img src="../img/bg3.png" alt="Background Image" class="bg-image" />
  <body>
    <div class="d-flex justify-content-center align-items-center vh-100">
      <div class="container">
        <h1 class="text-center mb-4">Diversi tipi di discriminazione</h1>
        <div class="card">
          <div class="card-body presentation">
            <%- include('../common/en/dt.html') %>
          </div>
        </div>
        <div class="text-center mt-4">
          <!-- Wrapper per centrare il bottone -->
          <a href="/recogito">
            <button type="button" class="btn continue-btn">
              Torna alle note
            </button>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
