<!DOCTYPE html>
<html lang="en">
<%- include('../common/head.html') %>
<%- include('../common/navbar.html') %>
<body>
<div class="container-xl">
    <div class="col align-self-center">
        <div class="row d-flex align-self-center " style="height: 100px;" >
            <p></p>
            <h1 class="text-center">Help</h1>
        </div>    
    </div>
    <div class="row d-flex align-self-center  text-center mb-4" style="height: 100px;" >
        <div class="col">
            <!-- Cognome va qui -->
            <h4>Benvent* nella guida nell'editor per l'annotazione di corpus documentali,<br>
            in questa pagina troverai tutte le informazioni necessarie per poter utilizzare al meglio l'editor. <br> 
            </h4>
        </div>
    </div>

    
    <div class="row d-flex align-self-center  text-center mb-4" style="height: 100px;" >
        <div class="col">
            <!-- Nome va qui -->
            <h4>mail</h4>
        </div>
        <div class="col">
            <!-- Cognome va qui -->
            <h4>età</h4>
        </div>
        <div class="col">
            <!-- Genere va qui -->
            <h4>campo accademico</h>
        </div>  
    </div>        

    <div class="row d-flex align-self-center  text-center mb-4" style="height: 100px;" >
        <div class="col">
            <button type="button" class="btn btn-info align-self-center">Modifica dati</button>   
        </div>
    </div>
</div>
