<!DOCTYPE html>
<html lang="en">
  <%- include('../common/head.html') %>
  <body>
    <div class="container-xl">
      <div
        class="row d-flex align-items-center justify-content-center text-center"
        style="height: 100vh"
      >
        <div class="col">
          <h1>Benvenut*</h1>
          <h4 style="line-height: 2">
            Ti presentiamo una demo dell'editor per l'annotazione di corpus
            documentali.<br />
            Nella prossima pagina troverai un testo dove sono presenti contenuti
            discriminatori di vari tipi.<br />
            Sottolinea i contenuti che ritieni discriminatori e seleziona dal
            menu a tendina la categoria che ti sembra più appropriata.<br />
            Tocca sul pulsante avanti una volta che avrai finito di annotare il
            testo.<br />
            Nella schermata che si apre puoi correggere il testo con le parole
            che ritieni più appropriate per eliminare i contenuti
            discriminatori. <br />
          </h4>
          <a href="recogito">
            <button type="button" class="btn btn-info">Continua</button>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
