<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RecogitoJS</title>
    <%- include('../common/head.html') %> <%- include('../common/navbar.html')%>
    <style>
      /* Aggiungi regole CSS per impostare l'immagine di sfondo */
      body {
        position: relative; /* Assicura che il body abbia una posizione relativa */
        /* Altre proprietà CSS per personalizzare il body */
      }

      .bg-image {
        position: absolute; /* Posizionamento assoluto per l'immagine di sfondo */
        top: 0;
        left: 0;
        width: 100%; /* Occupa l'intera larghezza del body */
        height: 100%; /* Occupa l'intera altezza del body */
        z-index: -1; /* Posiziona l'immagine di sfondo dietro al contenuto */
        /* Altre proprietà CSS per personalizzare l'aspetto dell'immagine */
      }
    </style>
    <img src="../img/bg2.png" alt="Background Image" class="bg-image" />

    <!--<style>
      /* Aggiungi regole CSS per impostare l'immagine di sfondo */
      body {
        background-image: url("../img/bg2.png");
      }
    </style>
    !-->
  </head>
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.js"
  ></script>
  <body>
    <div class="container-xxl">
      <!-- Contenuto del container -->
      <div class="d-flex align-items-start mb-7" style="height: 100px"></div>

      <!-- Form di login -->
      <div class="row">
        <div class="col-md-3 offset-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-center">Welcome</h4>
              <div class="text-center">
                <a href="/signup" class="btn btn-success">Signup</a>
                <span id="errormessage" style="color: red; display: none"
                  ><br />Email or password is incorrect.</span
                >
              </div>
              <form
                id="flogin"
                method="post"
                onsubmit="logincheck(); return false"
              >
                <div class="mb-3">
                  <label for="mail" class="form-label">username</label>
                  <input
                    type="text"
                    id="mail"
                    class="form-control"
                    placeholder="username"
                    name="mail"
                  />
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input
                    type="password"
                    id="password"
                    class="form-control"
                    placeholder="password"
                    name="password"
                  />
                </div>
                <div class="text-center">
                  <!-- Aggiungi la classe text-center qui -->
                  <button class="btn btn-info" type="submit">Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-xxl"></div>
  </body>
  <%- include('../common/footer.html') %>

  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.js"
  ></script>
  <script type="text/javascript" src="./js/function.js"></script>
</html>
